[database]
hostname = {{ dbconn.host }}
username = {{ dbconn.user }}
password = {{ dbconn.password }}
dbname = {{ dbconn.name }}

[environment]
environment = {{ app_env }}

[prefs]
color = {{ fav.color }}
food = {{ fav.food }}
car = {{ fav.car }}
laptop = {{ fav.laptop }}
